* {
  padding: 0;
  font-family: "bistrapay" !important;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg: #fff;
  --theme1: #f23456;
  --theme2: #f6b718;
  --outline: #dadce0;
}
@font-face {
  font-family: "bistrapay";
  src: url("/Font/regular.woff2");
}
body {
  background: var(--bg);
}
.block--span {
  background-color: var(--theme2);
  width: 500px;
  border-radius: 48px;
  padding-left: 10px;
  padding-right: 10px;
}
form {
  padding: 100px 30px;
  border: 1px solid var(--outline);
  border-radius: 10px;
}
